body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-color: #07b594;
    color: #9CA3B0;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    margin: 5% 5% 0 2%;
}

#back {
    display: flex;
    color: #b7c8ce;
}

#book {
    width: 25%;
    height: auto;
}

#title {
    font-size: 4vw;
    text-shadow: black 2px 3px;
    color: #ff9852;
}

#part {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #b7c8ce;
    text-shadow: black 2px 3px;
    font-size: 3vw;
    margin: 0 0 5% 5%;
}



.card-body {
    text-align: left;
    background-color: #102d3b;
    text-shadow: black 2x 5px;
}



div {
    text-align: center;
    color: #3b69a9;
}

.btn {
    background-color: #48575d;
    font-size: 1vw;
    color: #b7c8ce;
}

ul {
    font-size: 2vw;
    list-style-type: none;
}

li {
    font-size: larger;
    text-shadow: #0a7362 1px 1px;
    width: 75%;
    color: #102d3b;
    padding: 2px;
}

p {
    font-size: 2vw;
    color: #b7c8ce;
}

em {
    color: #efa573;
}

a {
  color: #F2F2F2;
}

code {
    color: #efa573;
}