body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-color: #3f3d44;
    color: #9CA3B0;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    margin: 5% 5% 0 3%;
}

#brushes {
    width: 20%;
    height: auto;
}

#title {
    font-size: 4vw;
    text-shadow: black 2px 5px;
    color: #bdced9;
}

#part {
    text-align: left;
    color: #94af4a;
    text-shadow: black 3px 3px;
    font-size: 3vw;
    margin: 0 0 5% 5%;
}



.card-body {
    text-align: left;
    background-color: #352a26;
    text-shadow: black 2x 5px;
}



div {
    text-align: center;
    color: #3b69a9;
}

.btn {
    background-color: #bdced9;
    font-size: 1vw;
    color: #353030;
}

ul {
    font-size: 2vw;
    list-style-type: none;
}

li {
    font-size: larger;
    width: 75%;
    color: #38beb3;
    padding: 2px;
}

p {
    font-size: 2vw;
    color: #bdced9;
}

em {
    color: #94af4a;
}